- var title = 'Parknav for Business | Real-Time On-Street Parking in the US and Germany | with Parking Garages & Lots'
- var descr = 'Empower your customers to quickly find open free, metered and permit on-street parking in real-time across the US and Germany. Parknav is great for automakers, fleet companies, real-estate companies and cities.'
include includes/_seo
include includes/business.html
include includes/_footer.html