- var title = 'Parknav for Car-Sharing | Real-Time On-Street Parking in the US and Germany | with Parking Garages & Lots'
- var descr = 'Empower your customers to quickly find open free, metered and permit on-street parking in real-time across the US and Germany.'
include includes/_seo
include includes/car-sharing.html
include includes/_footer.html