- var title = 'Parknav for Cities | Real-Time On-Street Parking in the US and Germany | with Parking Garages & Lots'
- var descr = 'Empower your residents and visitors to quickly find open free, metered and permit on-street parking in real-time across the US and Germany.'
include includes/_seo
include includes/cities.html
include includes/_footer.html