- var title = 'Parknav | Real-Time On-Street Parking in the US and Germany | with Parking Garages & Lots'
- var descr = 'Quickly find real-time open street parking across the US and Germany. Navigate to free, metered, permit & cheap garage parking on iPhone & Android.'
include includes/_seo
include includes/index.html
include includes/_footer.html