- var title = 'Parknav for Real-Estate | Real-Time On-Street Parking in the US and Germany | with Parking Garages & Lots'
- var descr = 'Empower your renters and buyers to quickly find open free, metered and permit on-street parking in real-time across the US and Germany.'
include includes/_seo
include includes/real-estate.html
include includes/_footer.html