- var title = 'Parking Score™ by Parknav | Real-Time On-Street Parking in the US and Germany | with Parking Garages & Lots'
- var descr = 'Use Parknav\'s Parking Score™ to empower your customers to quickly find open free, metered and permit on-street parking in real-time across the US and Germany. Parknav is great for automakers, fleet companies, real-estate companies and cities.'
include includes/_seo
include includes/score.html
include includes/_footer.html