doctype html
<html>
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=0.8')
    meta(name='robots', content='none')
    meta(name='robots', content='noindex, nofollow')
    link(rel='stylesheet', href='assets/css/bootstrap.css')
    link(rel='stylesheet', href='assets/css/layout.css')
    script(src='assets/js/jquery-2.1.4.min.js')
    script(src='assets/js/google_analytics.js')
    title= title
    meta(name='description', content= descr)
    link(rel='icon', type='image/png', href='assets/img/icon.png')
include _head.html
